body {
  background-image: url("./../public/background-image.png") ;
  background-size: cover;
}


.player {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 580px;
  height: 200px;
  background-color: #D9D9D9;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 1px solid darkblue;
}

.player-content {
  display: flex;
  position: relative;
  background-image: url("./../public/logo-for-player.png");
  background-repeat: no-repeat;
  background-size: inherit;
  height: 200px;
  background-position: center;
}
img {
  position: absolute;
  z-index: 2;
  width: 300px;
  height: 300px;
  right: -200px;
  top: -40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("./../public/circle-for-player.png");
  border-radius: 50%;
  border: 5px solid #05AC6A;
}

img.circle-move {
  animation: 1s linear 0s normal none infinite running circle-move;
  -webkit-animation: 1s linear 0s normal none infinite running circle-move;
}
@keyframes circle-move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle-move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.play-prev-btn {
  width: 54px;
  height: 50px;
  background-image: url("./../public/play-prev.png") ;
  background-size: contain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.pause-button {
  width: 64px;
  height: 64px;
  background-image: url("../public/pause-button.png") ;
  background-size: contain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.play-button {
  width: 64px;
  height: 64px;
  background-image: url("../public/play-button.png") ;
  background-size: contain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.play-next-btn {
  width: 54px;
  height: 50px;
  background-image: url("./../public/play-next.png") ;
  background-size: contain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.controls-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

